<div class="checkInOutContainer">
	@* logo *@
	<div class="">
		<img src="/imgs/maindashboard/logo.png" />
	</div>
	<div>
		<label>Solitory Green Rosort</label>
		<label></label><label></label>
	</div>
</div>

@code {

}
