@page "/Administration/ManageExRates"
@using ResortManagementApp.Models.Administration.DTOS
@using ResortManagementApp.Models.Administration.ManageAgents
@using ResortManagementApp.Models.Administration.ManageExRates
@using ResortManagementApp.Models.Administration.ManageRooms
@using ResortManagementApp.Pages.ComponentCss
@layout MainLayout

<div>
	<h3 class="mb-3 text-center">Manage Exchange Rates</h3>
</div>
<div>
	<div>
		<div>
			<div>
				<a href="/Administration/ManageExRates/Create" class="btn btn-primary mb-3">Add New Currency</a>
			</div>
			<div>
				<a href="/Administration" class="btn btn-primary mb-3">Back</a>
			</div>
		</div>
		<div>
			@if (ExchangeRatesDtoss == null)
			{
				<Searching />
			}
			<table class="table">
				<thead class="bg-light">
					<tr class="table">
						<td>Currency Name</td>
						<td>Selling</td>
						<td>Buying</td>
						<td>Actions</td>
					</tr>
				</thead>
				<tbody class="bg-light">
					@if (ExchangeRatesDtoss == null)
					{
						<Searching/>
					}
					@foreach (var item in ExchangeRatesDtoss)
					{
						<tr>
							<th>@item.CurrencyName</th>
							<th>@item.SellingRate</th>
							<th>@item.BuyingRate</th>
							<th style="white-space:nowrap">
								<a class="btn btn-primary btn-sm" href="/Administration/ManageExRates/Edit/@item.Id">Edit</a>
								<a class="btn btn-danger btn-sm" href="/Administration/ManageExRates/Delete/@item.Id">Delete</a>
							</th>

						</tr>
					}
				</tbody>

			</table>
		</div>
	</div>
</div>
@inject HttpClient Http
@code {
	public ExchangeRates? ExchangeRates { get; set; }
	public List<ExchangeRatesDto>? ExchangeRatesDtoss { get; set; } = new List<ExchangeRatesDto>();
	protected async override Task OnInitializedAsync()
	{
		ExchangeRatesDtoss = await Http.GetFromJsonAsync<List<ExchangeRatesDto>>("https://localhost:4000/api/ExtraModel");
	}
	}

}
