@page "/"
@using FirstBlazerProject.Components.Pages
@inherits EmployeeListBase
<PageTitle>Home</PageTitle>
<h3></h3>

<h2>Welcome To SP Software Solution PVT LTD</h2><br />

<div class="container1">
	<div class="container2">
		<a href="/singup" class="btn btn-primary m-2">Sing Up</a>
		<a href="/login" class="btn btn-primary m-2">Login</a>
	</div>
</div>



