@using ResortManagementApp.Layout

@inherits LayoutComponentBase

<div>
	<div style="">

		<div class="card-header" style=" ">
			<div style="color:white;font-family: cursive; " ; font-weight:bold;">
				<h4 style="margin-left:-78rem; font-size:18px;">
					SP SOFT
				</h4>
			</div>



			<div class="nav-item px-3">
				<NavLink class="nav-link" href="Auth/Loging">
					<span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
				</NavLink>
			</div>

		</div>

	</div>

	<div class="fixed-div" style="background-color: lightgreen">
		<div style="font-size:25px;">
			Solitary Green Resort
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
				<span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> HOME
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
				<span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> PACKAGES
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
				<span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> DINING
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
				<span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> GALLERY
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
				<span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> SPA
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<input class="btn btn-outline-primary" style="border-radius:1rem 2rem;" type="submit" name="booking" value="Book Now" />
		</div>


	</div>




	<div style="">
		<MudLayout>
			<MudMainContent>

				@Body
			</MudMainContent>

		</MudLayout>
	</div>

	
</div>

<footer>
	<div class="" style="height: 500px; width: 100%;">
		<svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
			<path d="M0.00,49.98 C150.00,150.00 350.00,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
				  style="stroke: none; fill: #4caf50; "></path>
				 
				<text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle"
					  fill="white" font-size="10" font-family="Arial" style="justify-content:start">Welcome to the Resort</text>
				 
			
		</svg>
	
	</div>
	
</footer>

<style>
	html {
		margin: 0;
		padding: 0;
	}

	.card-header {
		top:0;
		padding:5px;
		background-color: #2c3e50;
		margin: 0;
		width: 100%;
		height:2.7rem;
		display: flex;
		justify-content: right;
		flex-wrap:wrap;
		z-index: 1000;
		
	}

	.fixed-div {
		position: sticky; /* Makes the div sticky */
		top: 0; /* Sticks the div to the top of the page */
		background-color: #C5E1A5; /* Background color (optional) */
		padding: 10px; /* Padding for the div */
		 /* Optional border */
		z-index: 1000; /* Ensures the div stays above other content */
		transition: background-color 0.3s ease;
		font-family:cursive;
		justify-content:center;
		font-weight:bold;
		display:flex;
		
		
	}
</style>

@code {

}
