@inherits LayoutComponentBase


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main >
        
        <div class="top-row auth px-4">
            <LoginDisplay />
            <img style="width:80px; height:80px" src="/imgs/maindashboard/logo.png" />
            
        </div>

        <article class="content mainLayou px-4" >
            @Body
        </article>
    </main>
</div>
<style>
    .mainLayout{
        background-image: url('/imgs/maindashboard/logo.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 100vh; /* Ensure it covers full page height */
        
    }
</style>