
@inherits LayoutComponentBase
@inject Blazored.LocalStorage.ILocalStorageService localStorage



<div class="page" style="font-family: cursive;">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main >
        
        <div class="top-row auth px-4">
            <LoginDisplay />
            <div>
                <button class="submit" @onclick="clickToLogout">LogOut</button>

            </div>
            <img style="width:80px; height:80px" src="/imgs/maindashboard/logo.png" />
            
        </div>
       

        <div class="position-relative min-vh-100 bg-container">
            <div class="bg-overlay"></div>
            <div class="position-relative z-1 container py-5">
                @Body
            </div>
        </div>
    </main>
</div>

<style>
    .bg-container {
        overflow: hidden;
    }

    .bg-overlay {
        position: absolute;
        inset: 0;
        background-image: url('/imgs/reservation/background.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.3;
        z-index: 0;
    }
</style>
@inject NavigationManager navManager
@inject HttpClient http
@code {
    private void clickToLogout(MouseEventArgs args)
    {
         localStorage.ClearAsync();

        navManager.NavigateTo("/");

        Console.WriteLine("Logout succedfully..");

    }
}