@page "/Reservations/HouseKeeping"
@layout MainLayout

<div>
	<h3 class="mb-3 text-center">House-Keeping Management</h3>
</div>
<div>
	<section>
		@* Room details table *@
		<div class="justify-content-around flex">
			<div>
				<table class="table-hover table" style="background-color:azure">
					<thead>
						<tr>
							<th><label>Room Id</label></th>
							<th><label>Room Type</label></th>
							<th><label>Room Floor</label></th>
							<th><label>Room Status</label></th>
							<th><label>Maintenance</label></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div style="">
				<div style="background-color:antiquewhite; width: 18rem; padding: 15px; border-radius:	2rem 1rem; border:2px solid black;
				display: flex; flex-direction: column; gap: 1.5rem;">
					<div>
						<label>Room Status </label><br />
						
						<select style="height: 2rem;width: 16rem;">
							<option style="text-align: center">------Select------</option>
							@foreach (var item in RoomStatus)
							{
								<option >@item</option>
							}
						</select>
					</div>
					<div>
						<label>Last Clean by  </label><br />
						<input type="text" name="lastCleanBy" value="" />
					</div>
					<div>
						<label>Maintenance Status  </label><br />
						<input type="text" name="maintenanceStatus" value="" />
					</div>
					<div>
						<label>Maintenance Comment  </label><br />
						<textarea name="maintenanceComment"></textarea>
					</div>
					<div>
						<label>Additional Details  </label><br />
						<textarea name="additionalDetails"></textarea>
					</div>
					<div class="justify-content-center flex">
						<input class="btn btn-success" type="button" name="submit" value="Update" />
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<style>
	label{
		font-weight:bold;
	}
	input{
		height: 2rem;
		width: 16rem;
	}
	textarea{
		height: 3rem;
		width: 16rem;
	}
</style>
@code {
	public List<string>? RoomStatus = new List<string>
	{
		"Occupied","Ready","Reserved","Not Availavle","Closed for Maintains","Under Construction"
	};
}
