@page "/Reservations/HouseKeeping"
@layout MainLayout

<div>
	<h3 class="mb-3 text-center">House-Keeping Management</h3>
</div>
<div>
	<section>
		@* Room details table *@
		<div>
			<div>
				<table class="table-hover table">
					<thead>
						<tr>
							<th><label>Room Id</label></th>
							<th><label>Room Type</label></th>
							<th><label>Room Floor</label></th>
							<th><label>Room Status</label></th>
							<th><label>Maintenance</label></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div>
				<div>
					<div>
						<label>Room Status </label>
						<input type="text" name="roomStatus" value="" />
					</div>
					<div>
						<label></label>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

@code {

}
