<div style="width:12rem; height: 0.1rem">
    <MudPaper Class="pa-4" Style="color:black; border:1px solid black; font-weight:bold; background-color:azure; border-radius: 1rem">
        <MudStack Spacing="2">
            <MudButton Class="bi-bag-plus-fill offset-9" OnClick="OnExpandCollapseClick">@(_expanded ? "Check-In" : "Check-In")</MudButton>
            <MudDivider />
            <MudCollapse Expanded="_expanded" style="justify-content:center">
                <span style="font-size:20px"> 5 </span>
            </MudCollapse>
        </MudStack>
    </MudPaper>
</div>


@code {
    bool _expanded = true;

    private void OnExpandCollapseClick()
    {
        _expanded = !_expanded;
    }
}