<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">FirstBlazerProject</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/frontoffice" Match="NavLinkMatch.All">
                <span class="" aria-hidden="true">
                    <img src="Images/frontOffice.png" width="30px" alt="Alternate Text" />
                </span> Front Office Manager
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/restaurantpos" Match="NavLinkMatch.All">
                <span class="" aria-hidden="true"> <img src="Images/resturentpos.png" width="25px" alt="Alternate Text" /></span>  Restaurant POS
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/smartsales" Match="NavLinkMatch.All">
                <span class="" aria-hidden="true"> <img src="Images/sales.png" width="25px" alt="Alternate Text" /> </span> Smart Sales POS
            </NavLink>
        </div><div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="" aria-hidden="true"> <img src="Images/food.png" width="25px" alt="Alternate Text" /> </span> Food Preparation
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="" aria-hidden="true">
                    <img src="Images/menu.png" width="25px" alt="Alternate Text" />
                </span> Menu Manager
            </NavLink>
        </div>



       
    </nav>
</div>

