@page "/Administration/ReportAnalysis"

@using ResortManagementApp.Pages.ComponentCss
@layout MainLayout

<div>
	<h3 class="mb-3 text-center">Manage Report & Analysis</h3>
</div>
<div>
	<div>
		<div>
			<div>
				<a href="/Administration/ReportAnalysis/Create" class="btn btn-primary mb-3">New Exchara Charge</a>
			</div>
			<div>
				<a href="/Administration" class="btn btn-primary mb-3">Back</a>
			</div>
		</div>
		<div>
			<div class="flex flex-wrap">
				<div>
					<a href="" class="btn btn-secondary mb-3">Agent Statistics Report</a>
				</div>
				<div>
					<a href="" class="btn btn-secondary mb-3">Local Client Statistics Report</a>
				</div>
				<div>
					<a href="" class="btn btn-secondary mb-3">Foreign Client Statistics Report</a>
				</div>
				<div>
					<a href="" class="btn btn-secondary mb-3">All Booking By Another Master Id</a>
				</div>
				<div>
					<a href="" class="btn btn-secondary mb-3">All Transaction by Pay Id</a>
				</div>
			</div>
		</div>
	</div>
</div>

@code {
	
	
	protected override void OnInitialized()
	{
		
	}

}
