@page "/Administration/Delete/{id:guid}"
@using ResortManagementApp.Models.Administration.DTOS
@using ResortManagementApp.Models.Administration.ManageRooms

@layout MainLayout

<div>
	<h3 class="mb-3">Delete customer</h3>
	@if (RoomsDtos == null)
	{
		<p><em>loading customer details...</em></p>
	}
	<p>are you sure you want to delete customer with name  <strong>@Id</strong> </p>

	<button class="btn btn-danger" @onclick="deleteRooms">Delete</button>
	<a class="btn btn-secondary" href="/Administration/ManageRooms">Cancel</a>
</div>
@code {
	[Parameter]
	public Guid Id { get; set; }
	public ManageRooms? ManageRooms { get; set; }
	public RoomsDto RoomsDtos { get; set; } = new();

	private Task deleteRooms(MouseEventArgs args)
	{
		throw new NotImplementedException();
	}
}
