@page "/Administration"
@layout MainLayout


<div class="container my-5">

    <!-- Header -->
    <h3 class="mb-4 text-center">Administration</h3>

    <section class="d-flex justify-content-center flex-wrap gap-4">

        <!-- Administration Cards / Buttons -->
        <a href="/Administration/ManageRooms" class="btn btn-primary btn-lg flex-fill p-4 text-center shadow-sm" style="min-width: 200px;">
            Manage Rooms
        </a>

        <a href="/Administration/ManagePackages" class="btn btn-primary btn-lg flex-fill p-4 text-center shadow-sm" style="min-width: 200px;">
            Manage Packages
        </a>

        <a href="/Administration/ManageAgents" class="btn btn-primary btn-lg flex-fill p-4 text-center shadow-sm" style="min-width: 200px;">
            Manage Agents
        </a>

        <a href="/Administration/ManageExRates" class="btn btn-primary btn-lg flex-fill p-4 text-center shadow-sm" style="min-width: 200px;">
            Manage Ex.Rates
        </a>

        <a href="/Administration/ManageExtra" class="btn btn-primary btn-lg flex-fill p-4 text-center shadow-sm" style="min-width: 200px;">
            Manage Extra
        </a>

        <a href="/Administration/ReportAnalysis" class="btn btn-primary btn-lg flex-fill p-4 text-center shadow-sm" style="min-width: 200px;">
            Report & Analysis
        </a>

    </section>

</div>

@code {

}
