@page "/Administration"
@layout MainLayout


<div>
	<h3 class="mb-3 text-center">Administration</h3>
</div>
<div>
	<section>
		<div>
			<div style="display:flex; flex-direction: column; gap: 1.5rem;">
				<div>
					<a href="/Administration/ManageRooms" class="btn btn-primary mb-3">Manage Rooms</a>
				</div>
				<div>
					<a href="/Administration/ManagePackages" class="btn btn-primary mb-3">Manage Packages</a>
				</div>
				<div>
					<a href="/Administration/ManageAgents" class="btn btn-primary mb-3">Manage Agent</a>
				</div>
				<div>
					<a href="/Administration/ManageRooms" class="btn btn-primary mb-3">Manage Ex.Rates</a>
				</div>
				<div>
					<a href="/Administration/ManageRooms" class="btn btn-primary mb-3">Manage Extra</a>
				</div>
				<div>
					<a href="/Administration/ManageRooms" class="btn btn-primary mb-3">Report & Analysis</a>
				</div>
			</div>
			
			<div>
				<div>

				</div>
			</div>
		</div>
		
	</section>
</div>
@code {

}
