@page "/login"
@inject NavigationManager Navigation
<PageTitle>Login</PageTitle>


<h3>Login Page</h3>
<h2>Welcome To SP Software Solution PVT LTD</h2>
@* @if (!string.IsNullOrEmpty(ErrorMessage))
{
	<p style="color:red">@ErrorMessage</p>
}
<div class="logindiv">
	<img class="loginimg" src="Images/login.png"  alt="Alternate Text" />
</div> *@

@* <div class="login-con-1">
	<div class="login-con-2">
		<h3>ERP Login</h3>
		<label for="email">Email</label><br />
		<input @bind="Username"  placeholder="Enter Email Address" style="width:20rem" type="email" id="logemail" /><br /> <hr />
		<label for="password">Password</label><br />
		<input @bind="Password" placeholder="Enter Password" style="width:20rem" type="password" id="logpassword" /><br /> <hr />
		<input type="checkbox" id="rememberme">Remember me <br /> <hr />
		<button @onclick="clickLogin" class="btn btn-primary m-2 id="loginbtn">Login</button>
		<a href="/singup" class="btn btn-primary m-2">Sing Up</a>
		<button class="btn btn-primary m-2 id="logincancel" @onclick="cancel">Cancal</button>


	</div>



</div> *@

<input type="text" @onchange="change" />
<label>@name</label>

@code {
	// 	public string Description { get; set; } = string.Empty;
	// 	private string ErrorMessage { get; set; } = string.Empty;
	// 	private string Username { get; set; } = string.Empty;
	// 	private string Password { get; set; } = string.Empty;



	// private void clickLogin(Microsoft.AspNetCore.Components.Web.MouseEventArgs args)
	// 	{
	// 		if (Password == "12345" && Username == "avishkaruchirasuresh1@gmail.com")
	// 		{
	// 			Navigation.NavigateTo("/");
	// 		}
	// 		else
	// 		{
	// 			ErrorMessage = "Invalid Email or password";
	// 		}
	// 	}
	// 	private void cancel(MouseEventArgs args)
	// 	{
	// 		Password = string.Empty;
	// 		Username = string.Empty;
	// 	}
	string name = "asda";
	private void change(ChangeEventArgs args)
	{
		name = (string)args.Value!;
	}
}
