@page "/ClientManagement/Client/Delete/{Id:guid}"
@using ResortManagementApp.Models.ClientManagement.Client
@using ResortManagementApp.Models.Reservation
@using ResortManagementApp.Models.Reservation.DTO
@using ResortManagementApp.Pages.ComponentCss
@layout MainLayout

<div>
	<h3 class="mb-3">Delete Customer</h3>
	@if (ClientDto == null)
	{
		<p><Searching/></p>
	}
	<p>Are you sure you want to delete customer with Name  <strong>@ClientDto.FirstName @ClientDto?.LastName</strong> </p>

	<button class="btn btn-danger" @onclick="DeleteCustomer">Delete</button>
	<a class="btn btn-secondary" href="/ClientManagement">Cancel</a>
</div>

@inject HttpClient http
@inject NavigationManager navManager


@code {
	[Parameter]
	public Guid Id { get; set; }
	public List<Client> Clients { get; set; }
	public ClientDto ClientDto { get; set; } = new();

	protected override async Task OnInitializedAsync()
	{
		try
		{
			// Fetch the customer's info by ID
			// directBookingModel = await http.GetFromJsonAsync<DirectBookingModel>($"https://localhost:4000/api/DirectBooking/{Id}");

		}
		catch (Exception ex)
		{
			Console.WriteLine("Error loading customer: " + ex.Message);
		}
	}


	public async Task DeleteCustomer()
	{
		try
		{
			// var responce = await http.DeleteFromJsonAsync<DirectBookingModel>($"https://localhost:4000/api/DirectBooking/{Id}");
			//directBookingDTO.LastName = responce?.LastName ?? "";
			navManager.NavigateTo("/ClientManagement");
		}
		catch (Exception ex)
		{
			Console.WriteLine("Erro : " + ex.Message);
		}
	}

}
