@page "/Administration/ManagePackages/Delete/{Id:guid}"
@using ResortManagementApp.Models.Administration.DTOS
@using ResortManagementApp.Models.Administration.ManagePackages
@using ResortManagementApp.Models.Administration.ManageRooms
@using ResortManagementApp.Pages.ComponentCss

@layout MainLayout

<div>
	<h3 class="mb-3">Delete Package</h3>
	@if (PackagesDto == null)
	{
		<p><Searching/></p>
	}
	<p>Are you sure you want to delete package with name  <strong>@PackagesDto.PackageName</strong> </p>

	<button class="btn btn-danger" @onclick="DeletePackages">Delete</button>
	<a class="btn btn-secondary" href="/Administration/ManagePackages">Cancel</a>
</div>
@inject HttpClient http
@inject NavigationManager navManager
@code {
	[Parameter]
	public Guid Id { get; set; }
	public Packages? Packages { get; set; }
	public PackagesDto? PackagesDto { get; set; } = new();

	protected override async Task OnInitializedAsync()
	{
		try
		{
			// Fetch the customer's info by ID
			PackagesDto = await http.GetFromJsonAsync<PackagesDto>($"https://localhost:4000/api/Package/{Id}");

		}
		catch (Exception ex)
		{
			Console.WriteLine("Error loading customer: " + ex.Message);
		}
	}
	private async Task DeletePackages(MouseEventArgs args)
	{
		try
		{
			try
			{
				var responce = await http.DeleteFromJsonAsync<PackagesDto>($"https://localhost:4000/api/Package/{Id}");

				navManager.NavigateTo("/Administration/ManagePackages");
			}
			catch (Exception ex)
			{
				Console.WriteLine(ex.Message);
			}

		}
		catch (Exception ex)
		{
			Console.WriteLine("Error : " + ex.Message);
		}
	}
}
