@page "/Administration/ManageAgent/Delete/{Id:guid}"
@using ResortManagementApp.Models.Administration.DTOS
@using ResortManagementApp.Models.Administration.ManageAgents
@using ResortManagementApp.Models.Administration.ManagePackages
@using ResortManagementApp.Models.Administration.ManageRooms
@using ResortManagementApp.Pages.ComponentCss

@layout MainLayout

<div>
	<h3 class="mb-3">Delete Agent</h3>
	@if (AgentDto == null)
	{
		<p><Searching /></p>
	}
	<p>Are you sure you want to delete agent with name  <strong>@Id</strong> </p>

	<button class="btn btn-danger" @onclick="DeletePackages">Delete</button>
	<a class="btn btn-secondary" href="/Administration/ManageAgents">Cancel</a>
</div>
@inject HttpClient http
@inject NavigationManager navManager
@code {
	[Parameter]
	public Guid Id { get; set; }
	public Agents? Agent { get; set; }
	public AgentModelDto AgentDto{ get; set; } = new();

	private async Task DeletePackages(MouseEventArgs args)
	{
		try
		{
			try
			{
				var responce = await http.DeleteFromJsonAsync<AgentModelDto>($"https://localhost:4000/api/Agent/{Id}");

				navManager.NavigateTo("/Administration/ManageAgents");
			}
			catch (Exception ex)
			{
				Console.WriteLine(ex.Message);
			}

		}
		catch (Exception ex)
		{
			Console.WriteLine("Error : " + ex.Message);
		}
	}
}
