@page "/Administration/ManageAgent/Delete/{Id:guid}"
@using ResortManagementApp.Models.Administration.DTOS
@using ResortManagementApp.Models.Administration.ManageAgents
@using ResortManagementApp.Models.Administration.ManagePackages
@using ResortManagementApp.Models.Administration.ManageRooms
@using ResortManagementApp.Pages.ComponentCss

@layout MainLayout

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <!-- Card -->
            <div class="card shadow-lg">
                <div class="card-header bg-danger text-center text-white">
                    <h3>Delete Agent</h3>
                </div>

                <div class="card-body" style="background-color: #F8F9FA; font-size: 15px;">
                    @if (AgentDto == null)
                    {
                        <p><Searching /></p>
                    }
                    else
                    {
                        <p class="text-center">
                            Are you sure you want to delete agent with name
                            <strong>@Id</strong>?
                        </p>

                        <!-- Buttons -->
                        <div class="d-grid d-md-flex justify-content-md-center mt-4 gap-2">
                            <button class="btn btn-danger fw-bold" @onclick="DeletePackages">
                                Delete
                            </button>
                            <a class="btn btn-secondary fw-bold" href="/Administration/ManageAgents">
                                Cancel
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@inject HttpClient http
@inject NavigationManager navManager
@code {
	[Parameter]
	public Guid Id { get; set; }
	public Agents? Agent { get; set; }
	public AgentModelDto AgentDto{ get; set; } = new();

	private async Task DeletePackages(MouseEventArgs args)
	{
		try
		{
			try
			{
				var responce = await http.DeleteFromJsonAsync<AgentModelDto>($"https://localhost:4000/api/Agent/{Id}");

				navManager.NavigateTo("/Administration/ManageAgents");
			}
			catch (Exception ex)
			{
				Console.WriteLine(ex.Message);
			}

		}
		catch (Exception ex)
		{
			Console.WriteLine("Error : " + ex.Message);
		}
	}
}
