@page "/Auth/FogetPassword"

<div>
	<p class="text-danger mx-2 my-3 text-center" style="font-size: 20px">@errorMassage</p>
</div>
@code {
	public string errorMassage = "Please contact Administator !";
}
