<footer class="footer">
    <div class="container">
        <p style="font-weight:bold">&copy; @DateTime.Now. SP Sotfware Solution PVT LTD. All Rights Reserved.</p>

    </div>
</footer>

<style>
    .footer{
        background-color:azure;
        height:3rem;
        text-align:center;
    }
</style>
@code {

}
