@page "/login"
@inject NavigationManager Navigation


@rendermode InteractiveServer

<PageTitle>Login</PageTitle>


<h3 style="font-weight:bold">Login Page</h3>

<div class="login-con-1">
	<div class="logindiv">
		<img class="loginimg" src="Images/login.jpg" alt="Alternate Text" />
	</div>
	<div class="login-con-2">

		<h3 style="color:antiquewhite ; font-weight:bold">ERP Login</h3>
		<label style="color:antiquewhite" for="email">Email</label><br />
		<input @bind="Username" placeholder="Enter Email Address" style="width:20rem" type="email"/><br /> <hr />
		<label style="color:antiquewhite" for="password">Password</label><br />
		<input @bind="Password" placeholder="Enter Password" style="width:20rem" type="password"/><br /> <hr />
		<input type="checkbox" /> <span style="color:antiquewhite">Remember me</span> <br /> <hr />
		<button @onclick="clickLogin" class="btn btn-primary m-2" id="loginbtn">Login</button>
		<a href="/singup" class="btn btn-primary m-2">Sing Up</a>
		<button class="btn btn-primary m-2" @onclick="cancel">Cancal</button>
		<label style="color:wheat" class="m-2">@popupMassage</label>

	</div>



</div>

<button @onclick="trys">click</button>

@code {
	

	public string Description { get; set; } = string.Empty;
	private string ErrorMessage { get; set; } = string.Empty;
	private string Username { get; set; } = string.Empty;
	private string Password { get; set; } = string.Empty;
	public string popupMassage = "";

	public void cancel(MouseEventArgs args)
	{
		Password = string.Empty;
		Username = string.Empty;
	}
	public void clickLogin(Microsoft.AspNetCore.Components.Web.MouseEventArgs args)
	{
		if (Password == "12345" && Username == "avishkaruchirasuresh1@gmail.com")
		{
			Navigation.NavigateTo("/smartsales");

		
		}
		else
		{
			popupMassage = "Invalid Email or password";
			Password = string.Empty;
			Username = string.Empty;
		}
	}
	private void trys(MouseEventArgs args)
	{
	
	}
}
