@page "/restaurantpos"

<PageTitle>Restaurant POS</PageTitle>

<h3>Restaurant POS</h3>

<input type="button" @onclick="Click" value="+" />
<label >@count</label>
@code {
	private int count = 0;

	private void Click()
	{
		count++;
		Console.WriteLine(count);
	}
}
