@page "/singup"
<PageTitle>Singup</PageTitle>

<h3>Singup</h3>

<div class="login-con-1">

	<div class="logindiv">
		<img class="loginimg" src="Images/singup3.jpg" alt="Alternate Text" />
	</div>
	<div class="singup-con-2">
		
		<input placeholder="First Name" style="width:20rem; height:1.5rem" type="text" /><br /> <br/>
		<input placeholder="Last Name" style="width:20rem; height:1.5rem" type="text" /><br /> <br />
		<input placeholder="Email" style="width:20rem; height:1.5rem" type="email" /><br /><br />
		<input placeholder="Birth date" style="width:20rem; height:1.5rem" type="date" /><br /><br />
		<input placeholder="Phone Number" style="width:20rem; height:1.5rem" type="number" /><br /> <br />
		<input placeholder="Possition" style="width:20rem; height:1.5rem; height : 2rem" type="text" /><br /> <br />
		<input placeholder="Password" style="width:20rem; height:1.5rem" type="password" /><br /> <br />
		<input placeholder="Confirm Password" style="width:20rem; height:1.5rem" type="password" /><br /> <br />

		<input type="checkbox" id="rememberme"><span style="color:wheat"> Agree to all conditions </span><br />
		<button style="width:19rem"  class="btn btn-primary m-2" >Singup</button><br />
		
		<div>

		<input style="margin-right:-2rem" class="flat-color-icons--google m-2 btn btn-outline-primary" type="button" value="" />
		</div>
	
		
		

	</div>
	<div style="margin-left:30rem; color:wheat; margin-top:-34rem">
		<label>Already have an account? </label> 
		<a href="/login">Log In</a>
	</div>



</div>

@code {

}
