<div>
	<div>
		<div>
			<h5>Total Meal Breakdown</h5>
		</div>
		<div>
			<label>Total Breakfast - </label>
			<label>11</label>
			<label>
				(<label>Room side : </label> <label> 11</label>
				<label>Out side : </label><label> 0</label>)
			</label>
		</div>
		<div>
			<label>Total Lunch - </label>
			<label>4</label>
			<label>
				(<label>Room side : </label> <label> 3</label>
				<label>Out side : </label><label> 1 </label>)
			</label>
		</div>
		<div>
			<label>Total Dinner - </label>
			<label>5</label>
			<label>
				(<label>Room side : </label> <label> 5</label>
				<label>Out side : </label><label> 0 </label>)
			</label>
		</div>
	</div>
</div>

@code {

}
