<div>
	<div>
		<table class="table-primary table">
			<thead>
				<tr>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<div>
							<label style="font-size: 18px;">Dulax1</label>
							<div>
								<label>Name : </label>
								<label>Suresh</label>
							</div>
							<div>
								<label>Basic :</label>
								<label>-----</label>
							</div>
							<div>
								<label>Type :</label>
								<label>-----</label>
							</div>
							<div>
								<a class="btn btn-success" href="" title="Details">Details</a>
								<a class="btn btn-success" href="" title="Update">Update</a>
							</div>
						</div>
					</td>
					<td>
						<div>
							<label style="font-size: 18px;">Dulax2</label>
							<div>
								<label>Name : </label>
								<label>Suresh</label>
							</div>
							<div>
								<label>Basic :</label>
								<label>-----</label>
							</div>
							<div>
								<label>Type :</label>
								<label>-----</label>
							</div>
							<div>
								<a class="btn btn-success" href="" title="Details">Details</a>
								<a class="btn btn-success" href="" title="Update">Update</a>
							</div>
						</div>
					</td>
					<td>
						<div>
							<label style="font-size: 18px;">Dulax3</label>
							<div>
								<label>Name : </label>
								<label>Suresh</label>
							</div>
							<div>
								<label>Basic :</label>
								<label>-----</label>
							</div>
							<div>
								<label>Type :</label>
								<label>-----</label>
							</div>
							<div>
								<a class="btn btn-success" href="" title="Details">Details</a>
								<a class="btn btn-success" href="" title="Update">Update</a>
							</div>
						</div>
					</td>
					<td>
						<div>
							<label style="font-size: 18px;">Dulax4</label>
							<div>
								<label>Name : </label>
								<label>Suresh</label>
							</div>
							<div>
								<label>Basic :</label>
								<label>-----</label>
							</div>
							<div>
								<label>Type :</label>
								<label>-----</label>
							</div>
							<div>
								<a class="btn btn-success" href="" title="Details">Details</a>
								<a class="btn btn-success" href="" title="Update">Update</a>
							</div>
						</div>
					</td>
					<td>
						<div>
							<label style="font-size: 18px;">Dulax5</label>
							<div>
								<label>Name : </label>
								<label>Suresh</label>
							</div>
							<div>
								<label>Basic :</label>
								<label>-----</label>
							</div>
							<div>
								<label>Type :</label>
								<label>-----</label>
							</div>
							<div>
								<a class="btn btn-success" href="" title="Details">Details</a>
								<a class="btn btn-success" href="" title="Update">Update</a>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div>
							<label style="font-size: 18px;">Dulax1</label>
							<div>
								<label>Name : </label>
								<label>Suresh</label>
							</div>
							<div>
								<label>Basic :</label>
								<label>-----</label>
							</div>
							<div>
								<label>Type :</label>
								<label>-----</label>
							</div>
							<div>
								<a class="btn btn-success" href="" title="Details">Details</a>
								<a class="btn btn-success" href="" title="Update">Update</a>
							</div>
						</div>
					</td>
					<td>
						<div>
							<label style="font-size: 18px;">Dulax2</label>
							<div>
								<label>Name : </label>
								<label>Suresh</label>
							</div>
							<div>
								<label>Basic :</label>
								<label>-----</label>
							</div>
							<div>
								<label>Type :</label>
								<label>-----</label>
							</div>
							<div>
								<a class="btn btn-success" href="" title="Details">Details</a>
								<a class="btn btn-success" href="" title="Update">Update</a>
							</div>
						</div>
					</td>
					<td>
						<div>
							<label style="font-size: 18px;">Dulax3</label>
							<div>
								<label>Name : </label>
								<label>Suresh</label>
							</div>
							<div>
								<label>Basic :</label>
								<label>-----</label>
							</div>
							<div>
								<label>Type :</label>
								<label>-----</label>
							</div>
							<div>
								<a class="btn btn-success" href="" title="Details">Details</a>
								<a class="btn btn-success" href="" title="Update">Update</a>
							</div>
						</div>
					</td>
					<td>
						<div>
							<label style="font-size: 18px;">Dulax4</label>
							<div>
								<label>Name : </label>
								<label>Suresh</label>
							</div>
							<div>
								<label>Basic :</label>
								<label>-----</label>
							</div>
							<div>
								<label>Type :</label>
								<label>-----</label>
							</div>
							<div>
								<a class="btn btn-success" href="" title="Details">Details</a>
								<a class="btn btn-success" href="" title="Update">Update</a>
							</div>
						</div>
					</td>
					<td>
						<div>
							<label style="font-size: 18px;">Dulax5</label>
							<div>
								<label>Name : </label>
								<label>Suresh</label>
							</div>
							<div>
								<label>Basic :</label>
								<label>-----</label>
							</div>
							<div>
								<label>Type :</label>
								<label>-----</label>
							</div>
							<div>
								<a class="btn btn-success" href="" title="Details">Details</a>
								<a class="btn btn-success" href="" title="Update">Update</a>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<style>
	td{
		height: 5rem;
		width: 11rem;
	}
	label{
		font-weight: bold;
	}
</style>
@code {

}
